body {
    animation: page 0.8s linear;
}

@keyframes page {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

.header i {
    position: absolute;
    left: 20px;
    bottom: 10px;
    padding: 14px 89px 13px 17px;
    cursor: pointer;
    text-decoration: none;
    color: #353535;
}


main {
    .photo-menu {
        height: 275px;
        width: 100%;
        object-fit: cover;
    }
}

.menu-restaurant {
    margin-top: -60px;
    border-radius: 40px 40px 0 0;
    background-color: #f6f6f6;
    z-index: 1;
    position: relative;
    padding: 32px 16px 40px;
    max-width: 1055px;
    

    .menu-title {
        color: var(--black, #101010);
        font-family: Shrikhand;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .header-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .btn-heart {
        position: relative;
        width: 30px;
        margin-right: 24px;

        i {
            position: static;
            padding: 0;

            &.fa-solid {
                position: absolute;
                width: 100%;
                top: 0;
                left: 0;
            }
        }
    }

}


.menu-section {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    .etape-menu { 
        color: #000;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 300;
        text-transform: uppercase;
        position: relative;
        height: 27px;

        &::after {
            content: "";
            width: 40px;
            height: 3px;
            background-color: #99e2d0;
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }

    .card-plat {
        border-radius: 15px;
        background: white;
        padding: 15px;
        box-shadow: 0px 4.011494159698486px 15.043103218078613px 0px rgba(0, 0, 0, 0.10);
        position: relative;
        overflow: hidden;
        transition: padding 0.2s ease-in;

        .validation {
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 60px;
            background-color: #99E2D0;
            display: flex;
            align-items: center;
            justify-content: center;

            // Pour l'animation
            transform: scale(0, 1);
            transform-origin: right;
            transition: transform 0.2s ease-in;

            i {
                color: white;
                font-size: 22px;
            }
        }

        &:hover {
            padding-right: 75px;

            .validation {
                transform: scale(1, 1);
            }
        }
    }

    .entrees-title {
        color: #000;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 5px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .plat-details {
        display: flex;
        gap: 16px;

        .entrees-description {
            color: #000;
            font-family: Roboto;
            font-size: 15.043px;
            font-weight: 300;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    
        .menu-prix {
            color: #353535;
            text-align: center;
            font-family: Roboto;
            font-size: 15.043px;
            font-weight: 700;
            margin-left: auto;
        }
    }
}

.commande {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;

    .commander-btn {
        padding: 12px 24px;
        font-size: 16px;
        border-radius: 25px;
        color: #fff;
        background-color: #686868;
        background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
        cursor: pointer;
        box-shadow: 0.25rem 0.25rem 10px rgba(0,0,0,.25);
        transition-duration: .25s;
        border: none;
        width: 186px;
        height: 50px;

        &:hover {
            background-color: white;
            box-shadow: 0.25rem 0.25rem 10px rgba(0,0,0,0.50);
        }
    }
}

@media (min-width: 768px) {

    .menu-restaurant {
        margin-left: 10%;
        margin-right: 10%;

        .header-menu {
            justify-content: center;
            gap: 24px;

            .menu-title {
                text-align: center;
            }
        }

        .menu-section {
            width: 75%;
            margin-left: auto;
            margin-right: auto;
        }
    }
    
}



@media (min-width: 1024px) {

    .menu-restaurant {
        margin-left: 15%;
        margin-right: 15%;

        .menu-title {
            text-align: center;
        }

        .menu-section {
            width: 65%;
            margin-left: auto;
            margin-right: auto;

            .card-plat {
                position: relative;
            }
        }
    }

}


