body, html, * {
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

.loader {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: #ffffff;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  animation: loader 300ms 3s forwards;
  transform-origin: top;
}
.loader::after {
  content: "";
  height: 100px;
  width: 100px;
  border-right: 10px solid white;
  border-left: 10px solid white;
  border-top: 10px solid #9356DC;
  border-bottom: 10px solid #9356dc;
  border-radius: 50%;
  animation: spin 1s ease-in-out infinite;
}

@keyframes loader {
  to {
    transform: scale(1, 0);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 14px 89px 13px 89px;
  position: relative;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: white;
  z-index: 10;
}
.header .header-logo {
  margin: 0;
  text-align: center;
  height: 36px;
  padding: 0px 19px 0px 16px;
}

.localisation {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: 17px;
  background: var(--grey-2, #EAEAEA);
}
.localisation .fa-location-dot {
  width: 12px;
  height: 16px;
  font-weight: 900;
  fill: var(--grey, #353535);
}
.localisation .localisation-texte {
  color: var(--grey, #353535);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.decouvrir {
  padding: 39px 32px 57px;
  text-align: center;
  background-color: #fafafa;
}
.decouvrir .decouvrir-title {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 14px;
}
.decouvrir .decouvrir-subtitle {
  color: var(--grey, #353535);
  font-weight: 300;
  line-height: normal;
  margin-bottom: 27px;
}
.decouvrir .decouvrir-btn {
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 25px;
  color: #fff;
  background-color: #686868;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  cursor: pointer;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  transition-duration: 0.25s;
  border: none;
}
.decouvrir .decouvrir-btn:hover {
  background-color: white;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

.tuto {
  margin: auto;
  padding-bottom: 68px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.tuto .tuto-title {
  padding: 48px 80px 26px 20px;
  height: 31px;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
}
.tuto .tuto-etapes {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style-type: none;
  counter-reset: compteListe;
}
.tuto .tuto-icone::before {
  width: 13.019px;
  height: 19.903px;
  display: flex;
  padding: 24.54px 276px 27.93px 33.47px;
  color: #7E7E7E;
}
.tuto .texte {
  display: flex;
  justify-content: center;
  margin-top: -48px;
  font-weight: bold;
}
.tuto .tuto-etape {
  height: 72.379px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  background: var(--background, #F6F6F6);
  margin: 0 20px 25px 32.51px;
  position: relative;
}
.tuto .tuto-etape::before {
  counter-increment: compteListe 1;
  content: counter(compteListe) " ";
  background: #9356dc;
  width: 24px;
  height: 24px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  left: -30px;
  margin: 20.86px 21.98px 21.52px 20px;
  position: absolute;
}

.restaurants {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  padding: 0 18px 18px 17px;
}
.restaurants .restaurant-title {
  padding: 54px 80px 48px 20px;
}
.restaurants .cards {
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.restaurants .card {
  background-color: #fff;
  border-radius: 15px;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block;
}
.restaurants .card-img {
  height: 151px;
  width: 100%;
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants .card-nouveau {
  background-color: #99e2d0;
  color: #1b6150;
  padding: 10px;
  position: absolute;
  top: 16px;
  right: 12px;
}
.restaurants .card-content {
  height: 77px;
  position: relative;
  padding: 15px;
}
.restaurants .card-title {
  height: 20px;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}
.restaurants .card-subtitle {
  height: 24px;
  font-size: 17px;
  font-weight: 300;
}

.btn-heart i {
  font-size: 30px;
  position: absolute;
  right: 20px;
  top: 20px;
}
.btn-heart .fa-solid {
  color: transparent;
  background: linear-gradient(180deg, #9356DC 0%, #FF79DA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  transition: transform 300ms;
  transform: scale(0);
}
.btn-heart:hover .fa-solid {
  background-image: linear-gradient(180deg, #9356dc #ff79da 100%);
  transform: scale(1);
}

.container-footer {
  background: var(--grey, #353535);
  display: flex;
  padding: 22px 25px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.container-footer .footer-list {
  text-decoration: none;
  list-style: none;
  padding: 0;
  color: var(--white, #FFF);
  font-size: 16px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 7px;
  cursor: pointer;
}
.container-footer .lien {
  text-decoration-line: none;
  color: #FFF;
}
.container-footer .footer-logo {
  color: var(--white, #FFF);
  font-family: Shrikhand;
  font-size: 18px;
  font-weight: 400;
}

@media (min-width: 1440px) {
  .decouvrir-title {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 40px;
  }
  .decouvrir-title br {
    display: none;
  }
  .tuto {
    padding: 50px 180px;
  }
  .tuto .tuto-etapes {
    flex-direction: row;
  }
  .restaurants {
    display: flex;
    padding: 0px 180px;
    gap: 28px;
  }
  .restaurants .restaurant-title {
    padding: 30px 80px 0px 20px;
  }
  .restaurants .cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 100px;
    margin-bottom: 50px;
  }
  .card {
    width: 45%;
  }
  .container-footer {
    display: flex;
    flex-direction: row-reverse;
    gap: 32px;
    align-items: center;
  }
  .container-footer .footer-list {
    flex-direction: row;
    gap: 24px;
  }
}
@media (min-width: 768px) {
  .restaurants .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .card {
    width: 45%;
  }
}/*# sourceMappingURL=style.css.map */